@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* GLOBAL STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
    
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
    
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--white);
}

/* TYPOGRAPHY */
p {
  font-size: 1.125rem;
  font-weight: 400;
}

/* LAYOUT */
.container {
  padding-bottom: 1.25rem;
}

.grid-cards {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2.5rem;
}

.social {
  text-align: center;
  background-color: var(--purple-500);
  padding: 1.25rem;
  border-radius: 1.0625rem;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 .625rem #ddd;  
}

.social h1 {
  color: var(--white);
  font-style: italic;
  font-weight: 500;
  font-size: 4.6875rem;
}

.social img {
  max-width: 100%;
  width: 15.625rem;
}

.social h1 span {
  color: var(--yellow-500);
}

.social p {
  color: var(--white);
}

.management {
  overflow: hidden;
  padding: 1.25rem;
  border-radius: 1.0625rem;
  background-color: var(--white);
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 .625rem #ddd;
}

.management img {
  width: 100%;
}

.management h1 {
  font-family: 'DM Sans', sans-serif;
  font-weeight: 500;
}

.schedule {
  padding: 1.25rem;
  border-radius: 1.0625rem;
  background-color: var(--yellow-500);
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 .625rem #ddd;
}

.schedule h1 {
  color: var(--black);
  font-weight: 500;
}

.schedule img {
  width: 100%;
}

.schedule-to-social {
  background-color: var(--purple-100);
  padding: 1.25rem;
  border-radius: 1.0625rem; 
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 .625rem #ddd;
}

.schedule-to-social h1 {
  color: var(--black);
  font-weight: 500;
}

.schedule-to-social img {
  width: 100%;
}

.schedule-to-social p {
  color: var(--black);
}

.grow {
  
}


